body{
    margin:0;
    padding:0;
}


nav{
    background: #ffaaaa;
    height:50px;
}
nav ul {
   list-style: none;
    margin: 0;
    float: right;
}
nav ul li{
    display: inline-block;
    line-height:50px;
    margin-right:20px ;
}

nav ul li a,nav .logo a{
    line-height:50px;
    text-decoration: none;
    display: inline-block;
    height:inherit;
}
#banner{
    text-align: center;
    width:100%;
    min-width: 1080px;
    position: relative;
    height:600px;

}
#banner .inner{
    padding-left:200px ;
    padding-top: 280px;
    background: url(../img/banner_img.jpg);
    background-size:cover ;
    text-align: left;
    height:300px;
}
#banner .inner p{
    max-width:300px;
    line-height: 30px;
}

#banner button{
    margin-top:20px ;
    border: none;
    background: #faa;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    line-height:40px;
    padding: 0px 100px 0px 100px;
}

nav .logo{
    float: left;
    padding-left:10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}



#banner .down_options{
    width:100%;
    height:250px;
    background-color:white;
    padding-top:44px;
    margin-left:1px;
    list-style: none;
}

#banner .down_options li{

    float: left;
    width:25%;
    height:100%;
    font-size:14px;
    color:#787476;
    word-wrap: break-word;
}

#banner .down_options .first{
    background:url(../img/round_icon.png) top center no-repeat;
}
#banner .down_options .second{
    background:url(../img/flag_icon.png) top center no-repeat;
}
#banner .down_options .third{
    background:url(../img/flower_icon.png) top center no-repeat;
}
#banner .down_options .forth{
    background:url(../img/four_icon.png) top center no-repeat;
}

#banner .down_options li p{
    margin-top:89px;
    padding-left: 82px;
    padding-right: 82px;
    text-align: center;
    height:52px;
    border-right: 1px solid #787476;
}

.wrapper{
    margin: 0 auto;
    min-width:1080px;
    width:100%;
    height:300px;
    position: relative;
    text-align: center;
}
#one img{
    text-align: center;
}
#one .wrapper{
    height:240px;
    padding-top: 50px;
    padding-bottom: 10px;
    background: #EDEDED;
}
#one .wrapper h1{
    font-size: 30px;
}


.clearfix{
    content:'';
    display: block;
    clear:both;
}
#two .wrapper{
    background: url(../img/search_bac.jpg);
    background-size: cover;
}
#two ul{
    list-style: none;
    margin: 100px auto;
}
#two ul li{
    display: inline-block;
    margin-right:20px;
    line-height:50px;
    width:200px;
    font-size: 20px;
}
#two ul li select{
    height: 30px;
    width: inherit;
    padding-left:10px;
    font-size:12px;
    color:#A9A6a6;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
}
#two ul li select:hover{
    border:1px solid #BE4F49;
}
#two ul li select:after{
    content: '';
    width:20px;
    height:20px;
    position:absolute;
    right:35px;
    top:60%;
    margin-top:-10px;
    background:url(../img/btnb.png) ;
    background-size:cover ;
}

#two ul li button {
    background: rgba(230, 84, 84, 0.98);
    width: inherit;
    border: none;
    font-size: 20px;
    height: 30px;
    text-align: center;
    letter-spacing: 20px;
    padding: 0px 10px 0px 20px;
    color: #fff;
}

#three .wrapper .icon{
    float: left;
    width:25%;
    padding: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;

}
#three .album{
    width:50%;
    padding:12px 8px;
    margin:0 auto;
    background-color: white;
    border-top: 1px solid #DCDCDD;
    border-left: 1px solid #DCDCDD;
    border-right:1px solid #DCDCDD;

}
#three .album img{
    width:100%;
}
#four .wrapper >div{
    float:left;
}


#four .wrapper .img-section{
    width:55%;
    height:inherit;
    background:url(../img/part1.jpg);

}
#four .text-section{
    width:40%;
}
#four .text-section .head{
    text-align: center;
    font-size: 20px;
    color:black;
}
#four .text-section .head span{
    color:#E7504E;
}
#four .text-section button{
    width:105px;
    border: none;
    text-align: center;
    color:#e4676a;
    linr-height:33px;
    padding:10px 5px;
}
#four .text-section button:hover{
    color:white;
    background-color: #e4676a;
}

#four .text-section ul{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 26px;
}
#four .text-section ul li {
    display: inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    border:1px solid #929292;
    background-color: white;
    cursor: pointer;
}
#four .text-section ul li:active{
    background-color: #929292;
}
.wrapper .more{
    width:33.3%;
    height: inherit;
    text-align: center;
    float: left;
}
.more .subinner{
    width: 100px;
    background: #009900;
}
.more button{
    width:105px;
    border: none;
    text-align: center;
    color:#e4676a;
    linr-height:33px;
    padding:10px 5px;
}
.third_part{
    background: url(../img/third.jpg);
    background-size: cover;
    width:100%;
    height: 100%;
}
.third_part:after{
    content: '';
    width:0;
    height:0;
    border-left: 30px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left:66.6%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.more img{
    width: 100%;
}
#volun .wrapper{
    height: 400px;
}
.volunteer .part_left{
    width:40%;
    float: left;
    height: 70%;
    line-height: 1;
    text-align: left;
}
.volunteer .part_left a{
    position: relative;
    text-align: center;
    display: block;
    font-size:12px;
    color:#BCBCBC;
    float: right;
    /*font-family: "";*/
}
.volunteer .part_left a span{
    float: right;
    cursor:pointer;
}

.volunteer .part_left a i{
    display: inline-block;
    width:10px;
    height:10px;
    overflow: hidden;
    margin-right: 10px;
}
.volunteer .part_left a i:after{
    content:"";
    display: block;
    width:14px;
    height:14px;
    margin-left:-3px;
    margin-top:-11px;
    border:1px solid #BCBCBC;
    transform:rotate(45deg);
}
.volunteer .part_right{
    width:55%;
    float:right;
    height:70%;
}
.volunteer .part_right input,textarea{
    float:left;
    height:40px;
    font-size:12px;
    padding-left:15px;
    background-color:#EDEDEF ;
    border: none;
    margin-bottom: 14px;
    margin-right: 17px;
}
#user_address,#user_contact,#user_name,#user_age{
    width:45%;

}
#user_des{
    width:639px;
    height:121px;
    padding-top:13px;
    resize:none;
}
#contact .wrapper{
    background-color: #33363f;
    padding-top:93px;
}
#contact .wrapper h3{
    font-size: 21px;
    color:white;
    font-weight: normal;
    margin-bottom: 12px;
}
#contact .wrapper p{
    font-size: 12px;
    color: white;
    line-height: 2;
    letter-spacing: 2px;
}

#contact .wrapper .search-input{
    width:70%;
    height:41px;
    margin: 30px auto;
    text-align: center;

}
#contact .wrapper .search-input  input{
    float: left;
    display: inline-block;
    height: 100%;
    border: none;
}
#email {
    width:40%;
    padding-left: 10px;
}
#contact #submit{
    width:80px;
    background-color: #707278;
    font-size: 15px;
    color: white;
    font-family: "微软雅黑";
}

#footer .wrapper{
    height:40px;
    background-color: #303039;
    padding-top: 20px;
    font-size: 12px;
    color: white;
    font-family: "宋体";
}
#footer .wrapper .left{
    float: left;

    padding-left: 98px;
    padding-right: 40px;
}
#footer .wrapper .right{

    float: right;
}
#footer .wrapper .right a{

    padding-left: 98px;
    padding-right: 40px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: white;
}